.gallery__photo-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
  max-width: 224px;
}
